---
layout: default
permalink: /about/
---	

<div id="fh5co-page">

		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" class="border">

			<h1 id="fh5co-logo"><a href="/"><img src="/images/logo-colored.png" alt="Free HTML5 Bootstrap Website Template"></a></h1>
			<nav id="fh5co-main-menu" role="navigation">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/portfolio/">Photos</a></li>
					<li class="fh5co-active"><a href="/about/">About</a></li>
					<li><a href="/contact/">Contact</a></li>
				</ul>
			</nav>

			{% include footer.html %}

		</aside>

		<div id="fh5co-main">

			<div class="fh5co-narrow-content">
				<div class="row">
					{% for item in site.data.about %}
						<div class="col-md-5">
							<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">{{item.title}}</h2>
							<p class="fh5co-lead animate-box" data-animate-effect="fadeInLeft">{{item.description1}}</p>
							<p class="animate-box" data-animate-effect="fadeInLeft">{{item.description2}}</p>
						</div>
					{% endfor %}
					{% for item in site.data.about %}
						<div class="col-md-6 col-md-push-1 animate-box" data-animate-effect="fadeInLeft">
							<img src="/images/{{item.url}}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
						</div>
					{% endfor %}
				</div>
				
			</div>

			{% include team.html %}
			
				<div class="fh5co-narrow-content fh5co-border-bottom">
					<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">This Is What <span>We Love To Do</span></h2>
						{% include services.html %}
				</div>
		

			{% include get-in-touch.html %}

		</div>
	</div>