---
layout: default
---	

<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" class="border js-fullheight">

			<h1 id="fh5co-logo"><a href="index.html"><img src="images/logo-colored.png" alt="Free HTML5 Bootstrap Website Template"></a></h1>
			<nav id="fh5co-main-menu" role="navigation">
				<ul>
					<li class="fh5co-active"><a href="index.html">Home</a></li>
					<li><a href="portfolio.html">Photos</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>

			{% include footer.html %}

		</aside>

		<div id="fh5co-main">

			{% include gallery.html %}
			
			<div class="fh5co-narrow-content">
				<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Services</h2>

				{% include services.html %}

			</div>


		<div class="fh5co-testimonial" >
			<div class="fh5co-narrow-content">
				{% include slider.html %}
			</div>
		</div>


			{% include counter.html %}
		

			{% include get-in-touch.html %}

		</div>
	</div>