---
layout: default
---	

	<div id="fh5co-page">

		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" class="border">

			<h1 id="fh5co-logo"><a href="index.html"><img src="images/logo-colored.png" alt="Free HTML5 Bootstrap Website Template"></a></h1>
			<nav id="fh5co-main-menu" role="navigation">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="portfolio.html">Photos</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>

			{% include footer.html %}

		</aside>

		<div id="fh5co-main">

			

			<div class="fh5co-narrow-content animate-box fh5co-border-bottom" data-animate-effect="fadeInLeft">
				<h2 class="fh5co-heading" >Nature</span></h2>
				<p><p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p></p>

				<div class="row">
					<div class="col-md-12">
						<figure><img src="images/big_1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive"></figure>
					</div>

					<div class="col-md-12">
						<figure><img src="images/big_2.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive">
							<figcaption>An image caption, pointing has no <a href="#">control</a> about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</figcaption>
						</figure>
					</div>
					<div class="col-md-12">
						<figure><img src="images/big_3.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive"></figure>
					</div>
					<div class="col-md-12">
					<p class="text-center"><a href="portfolio.html" class="btn btn-primary btn-outline">More Photos</a></p>
					</div>
					
				</div>

			</div>


			{% include get-in-touch.html %}

		</div>
	</div>