<div class="fh5co-narrow-content  animate-box fh5co-border-bottom" data-animate-effect="fadeInLeft">
	<h2 class="fh5co-heading">
		<span>Photographers</span>
	</h2>
	<div class="row">
		{% for item in site.data.team %}
			<div class="col-md-4 fh5co-staff">
				<img src="/images/{{item.url}}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
				<h3>{{item.name}}</h3>
				<h4>{{item.post}}</h4>
				<p>{{item.description}}</p>

				{% include social-icons.html %}
				
			</div>
		{% endfor %}
	</div>
</div>